<mat-dialog-content class="dialog-container">
    <button mat-icon-button mat-dialog-close class="dialog-close-btn">
        <mat-icon>close</mat-icon>
    </button>

    <mat-card>
        <mat-card-header class="header-center">
            @if (mod == 'C') {
            <mat-card-title>Aggiungi Prodotto</mat-card-title>
            } @else {
            <mat-card-title>Modifica prodotto di {{prodotto()?.descrizione}} {{prodotto()?.marchio}} {{prodotto()?.colore}}</mat-card-title>
            }
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="form-grid">

                <mat-form-field  >


                    <mat-select name="categoria"
                          formControlName="categoria" placeholder="Categoria"
                          >

                      @for (cat of categorie; track cat.id) {
                          <mat-option [value]="cat">{{ cat.descrizione }}</mat-option>
                      }

                      </mat-select>

                </mat-form-field>

                <mat-form-field  >


                    <mat-select name="produttore"
                          formControlName="produttore" placeholder="Produttore"
                          >

                      @for (prod of produttori; track prod.id) {
                          <mat-option [value]="prod">{{ prod.nomeAzienda }}</mat-option>
                      }

                      </mat-select>

                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Codice Prodotto</mat-label>
                    <input matInput type="number" name="productCode" formControlName="productCode">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Descrizione</mat-label>
                    <input matInput type="text" name="descrizione" formControlName="descrizione">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Taglia</mat-label>
                    <input matInput type="text" name="taglia" formControlName="taglia">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Peso</mat-label>
                    <input matInput type="number" name="peso" formControlName="peso">
                </mat-form-field>


                <mat-form-field appearance="fill">
                    <mat-label>Quantità</mat-label>
                    <input matInput type="number" name="quantita" formControlName="quantita">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Colore</mat-label>
                    <input matInput type="text" name="colore" formControlName="colore">
                </mat-form-field>

                <div class="msg-error">
                    <span style="color:red">{{ msg() }}</span>
                </div>
                <div class="button-group">
                    @if (mod == 'C'){
                    <button mat-raised-button color="primary" type="submit" [disabled]="!updateForm.valid"
                        matTooltip="Salvare le modifiche">
                        Crea nuovo prodotto</button>
                    } @else {
                         <button mat-raised-button color="primary" type="submit"
                        matTooltip="Salvare le modifiche">
                        Aggiorna il prodotto</button>
                    }

                </div>
            </form>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
i
