
<div class="container">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header class="header-row">
            <mat-card-title>Elenco Utenti</mat-card-title>
            <!-- button mat-raised-button color="primary" >Nuovo Utente</button -->
        </mat-card-header>
        <mat-divider style="margin-top: 20px;"></mat-divider>
        <mat-card-content>
            <div class="search-row">
              <!-- mat-form-field>
                    <mat-label>Categoria</mat-label>
                    <mat-select name="categoria"
                            [(ngModel)]="categoria"
                            (selectionChange)="onCategoriaChange($event.value)">

                    @for (cat of categorie; track cat.id) {
                        <mat-option [value]="cat">{{ cat.descrizione }}</mat-option>
                    }

                    </mat-select>
                    @if (categoria){
                    <button mat-icon-button matSuffix (click)="categoria = null; search()" matTooltip="Cancella">
                        <mat-icon>close</mat-icon>
                    </button>
                    }
                </mat-form-field -->



            </div>
                 <table class="table table-stripped ">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Ruolo</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for (utente of utenti; track utente.userName) {
                        <tr class="clickable-row" (click)="profilo(utente.userName)">
                            <td>{{utente.userName}}</td>
                            <td>{{utente.email}}</td>
                            <td (click)="$event.stopPropagation()">
                                <mat-select 
                                    placeholder="Tipo Ruolo" 
                                    [value]="utente.role"
                                    [disabled]="utente.userName === auth.grant().userId"
                                    (selectionChange)="changeTipoRuolo(utente.userName, $event.value)">
                                    @for (tipo of loadedTipoRuolo; track tipo) {
                                        <mat-option [value]="tipo">{{ tipo }}</mat-option>
                                    }
                                </mat-select>
                            </td>
                        </tr>
                    }
                    </tbody>
                 </table>
        </mat-card-content>
    </mat-card>
