<div class="container">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header class="header-row">
            <mat-card-title>Ordini</mat-card-title>
        </mat-card-header>
        <mat-divider style="margin-top: 20px;"></mat-divider>
        <mat-card-content>
            <div class="search-row">
                <mat-form-field>
                    <mat-label>Numero</mat-label>
                    <input matInput type="text" [(ngModel)]="searchNumero" (input)="searchOridni();" >
                    @if (searchNumero) {
                        <button matSuffix matIconButton aria-label="Clear" (click)="searchNumero=''; searchOridni();">
                            <mat-icon>close</mat-icon>
                        </button>
                    }
                </mat-form-field>
                @if(mode !== "VISUALIZZA") {
                    <mat-form-field>
                        <mat-label>Nome Utente</mat-label>
                        <input matInput type="text" [(ngModel)]="searchNomeUtente" (input)="searchOridni();">
                        @if (searchNomeUtente) {
                            <button matSuffix matIconButton aria-label="Clear" (click)="searchNomeUtente=''; searchOridni();">
                                <mat-icon>close</mat-icon>
                            </button>
                        }
                    </mat-form-field>
                }
                <mat-form-field>
                    <mat-label>Stato</mat-label>
                    <mat-select [(ngModel)]="searchStato" (selectionChange)="searchOridni();">
                        @for (statoOrdine of loadedStatiOrdine; track statoOrdine) {
                            <mat-option [value]="statoOrdine">{{statoOrdine}}</mat-option>
                        }
                    </mat-select>
                    @if (searchStato){
                        <button matSuffix matIconButton aria-label="Clear" (click)="searchStato=''; searchOridni();">
                            <mat-icon>close</mat-icon>
                        </button>
                    }
              </mat-form-field>
            </div>
            <table class="table table-stripped ">
                <thead>
                    <tr>
                        <th>Numero</th>
                        <th>Data</th>
                        @if(mode !== "VISUALIZZA") {
                            <th>Nome Utente</th>
                        }
                        <th>Stato</th>
                    </tr>
                </thead>
                <tbody>
                @for (ordine of ordini; track ordine.id) {
                    <tr class="clickable-row" (click)="editOrd(ordine)">
                        <td>{{ordine.id}}</td>
                        <td>{{ordine.dataOrdine}} {{ordine.orarioOrdine}}</td>
                        @if(mode !== "VISUALIZZA") {
                            <td>{{ordine.utente.userName}}</td>
                        }
                        <td>{{ordine.statoOrdine}}</td>
                    </tr>
                }
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
