<div class="container">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header class="header-row">
            <mat-card-title>Ordini</mat-card-title>
        </mat-card-header>
        <mat-divider style="margin-top: 20px;"></mat-divider>
        <mat-card-content>
            <div class="search-row">
                <mat-form-field>
                    <mat-label>Numero</mat-label>
                    <input matInput type="text" [(ngModel)]="searchNumero" (input)="search();" >
                    @if (searchNumero) {
                        <button matSuffix matIconButton aria-label="Clear" (click)="searchNumero=''; search();">
                            <mat-icon>close</mat-icon>
                        </button>
                    }
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Nome Utente</mat-label>
                    <input matInput type="text" [(ngModel)]="searchNomeUtente" (input)="search();">
                    @if (searchNomeUtente) {
                        <button matSuffix matIconButton aria-label="Clear" (click)="searchNomeUtente=''; search();">
                            <mat-icon>close</mat-icon>
                        </button>
                    }
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Stato</mat-label>
                    <mat-select [(ngModel)]="searchStato" (selectionChange)="search();">
                        @for (statoOrdine of loadedStatiOrdine; track statoOrdine) {
                            <mat-option [value]="statoOrdine">{{statoOrdine}}</mat-option>
                        }
                    </mat-select>
                    @if (searchStato){
                        <button matSuffix matIconButton aria-label="Clear" (click)="searchStato=''; search();">
                            <mat-icon>close</mat-icon>
                        </button>
                    }
              </mat-form-field>
            </div>
            <table class="table table-stripped ">
                <thead>
                    <tr>
                        <th>Numero</th>
                        <th>Data</th>
                        <th>Nome Utente</th>
                        <th>Stato</th>
                    </tr>
                </thead>
                <tbody>
                @for (ordine of ordini; track ordine.id) {
                    <tr class="clickable-row" (click)="editOrd(ordine)">
                        <td>{{ordine.id}}</td>
                        <td>{{ordine.dataOrdine}} {{ordine.orarioOrdine}}</td>
                        <td>{{ordine.utente.userName}}</td>
                        <td>{{ordine.statoOrdine}}</td>
                    </tr>
                }
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
