.example-card {
  width: 100%;
  max-width: 1200px;
}

.example-card-footer {
  padding: 16px;
}
.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-row{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
    flex-wrap: nowrap;
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.spacer {
    flex: 1 1 auto;
}
.clickable-row{
    cursor: pointer;
}

mat-form-field {
  width: 100%;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: none;
  margin: 0;
}

.button-group {
  grid-column: span 3; /* 👈 pulsante centrato su tutta la riga */
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
