<div class="container">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header class="header-row">
            @if (mode == 'ORDINE'){
                <mat-card-title>
                    @if (isVisualizza){
                        Visualizzazione ordine
                    } @else {
                        Ordine
                    }
                    numero {{ordine.id}} di {{ordine.utente.userName}}
                </mat-card-title>
            } @else {
                <mat-card-title>Carrello</mat-card-title>
            }

        </mat-card-header>
        <mat-divider style="margin-top: 20px;"></mat-divider>
        <mat-card-content>
            @if (mode == 'ORDINE'){
                <br />
                <strong>Stato: </strong>
                @if(isVisualizza) {
                    <span appearance="outline">{{ordine.statoOrdine}}</span>
                    <br />
                } @else {
                    <mat-form-field appearance="outline">
                        <mat-select 
                            placeholder="Stato" 
                            [value]="ordine.statoOrdine"
                            (selectionChange)="changeStatoOrdine(ordine.id, $event.value)">
                            @for (statoOrdine of loadedStatiOrdine; track statoOrdine) {
                                <mat-option [value]="statoOrdine">{{statoOrdine}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                }
            }
            <br />
            <table class="table table-stripped ">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Descrizione</th>
                            <th>Colore</th>
                            <th style="text-align: center;">Taglia</th>
                            <th style="text-align: center;">Prezzo</th>
                            <th style="text-align: center;">Disponibilità</th>
                            <th style="text-align: center;">Quantità</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for (dettaglio of dettagli; track dettaglio.id) {
                        <tr>
                            <td>
                                <img [src]="dettaglio.prodotto.image"

                                style="max-width: 80px; cursor: pointer;"
                                alt="Bike preview"
                                >
                            </td>
                            <td>{{dettaglio.prodotto.descrizione}}</td>
                            <td>{{dettaglio.prodotto.colore}}</td>
                            <td style="text-align: center;">{{dettaglio.prodotto.taglia}}</td>
                            <td style="text-align: center;">{{dettaglio.prodotto.prezzo}}</td>
                            <td style="text-align: center;">{{dettaglio.prodotto.quantita}}</td>
                            <td style="text-align: center;">
                                @if(!isVisualizza) {
                                    @if (!ordine || ordine?.statoOrdine === "IN_CORSO") {
                                        <button (click)="togli(dettaglio)">-</button>
                                    }
                                }
                                {{dettaglio.quantita}}
                                 @if(!isVisualizza) {
                                     @if (!ordine || ordine?.statoOrdine === "IN_CORSO") {
                                        <button (click)="aggiungi(dettaglio)">+</button>
                                        &nbsp;
                                        <button (click)="rimuoviDalCarrello(dettaglio)"><span role="img" aria-label="delete">🗑️</span></button>
                                     }
                                 }
                            </td>
                        </tr>
                    }


                    </tbody>
            </table>
            <br />
            <div>
                <mat-accordion>
                    <mat-expansion-panel [expanded]="false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h5><span>Dettagli di spedizione:</span></h5>
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <form [formGroup]="indirizzoForm" class="form-grid">
                            <input type="hidden" name="id">
                            <mat-form-field>
                                <mat-select formControlName="tipoIndirizzo" placeholder="Tipo Indirizzo"
                                    (selectionChange)="changeTipoIndirizzo($event.value)"
                                >
                                    @for (tipo of loadedTipoIndirizzo; track tipo) {
                                        <mat-option [value]="tipo">{{ tipo }}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Nome</mat-label>
                                <input matInput type="text" name="nome" formControlName="nome">
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Cognome</mat-label>
                                <input matInput type="text" name="cognome" formControlName="cognome">
                            </mat-form-field>
                            
                            <mat-form-field appearance="fill">
                                <mat-label>Via</mat-label>
                                <input matInput type="text" name="via" formControlName="via">
                            </mat-form-field>
                            
                            <mat-form-field appearance="fill">
                                <mat-label>Città</mat-label>
                                <input matInput type="text" name="citta" formControlName="citta">
                            </mat-form-field>
                            
                            <mat-form-field appearance="fill">
                                <mat-label>CAP</mat-label>
                                <input matInput type="text" name="cap" formControlName="cap">
                            </mat-form-field>
                            
                            <mat-form-field appearance="fill">
                                <mat-label>Nazione</mat-label>
                                <input matInput type="text" name="nazione" formControlName="nazione">
                            </mat-form-field>
                            
                            <mat-form-field appearance="fill">
                                <mat-label>telefono</mat-label>
                                <input matInput type="tel" name="telefono" formControlName="telefono" oninput="this.value = this.value.replace(/[^0-9+]/g, '');">
                            </mat-form-field>
                            
                            <mat-form-field appearance="fill">
                                <mat-label>Codice Fiscale</mat-label>
                                <input matInput type="text" name="codiceFiscale" formControlName="codiceFiscale">
                            </mat-form-field>
                            
                            <mat-form-field appearance="fill">
                                <mat-label>partitaIva</mat-label>
                                <input matInput type="text" name="partitaIva" formControlName="partitaIva">
                            </mat-form-field>
                        </form>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <br />
        </mat-card-content>
        <mat-card-footer  style="text-align: right;">
            <h3>Totale Ordine: {{ totale | currency:'EUR' }}</h3>
            @if (mode == 'ORDINE'){
                @if (ordine.statoOrdine === "IN_CORSO" || ordine.statoOrdine === "CONFERMATO"){
                    &nbsp;<button mat-raised-button color="primary"  (click)="eliminaOrdine()" >Elimina Ordine</button>
                }
                @if(isVisualizza) {
                    @if (ordine.statoOrdine === "IN_CORSO"){
                        &nbsp;<button mat-raised-button color="primary"  (click)="vaiAlCarrello()" >Vai al carrello</button>
                    }
                    @if (ordine.statoOrdine === "CONFERMATO"){
                        &nbsp;<button mat-raised-button color="primary"  (click)="vaiAlPagamento()" >Vai al pagamento</button>
                    }
                    @if (ordine.statoOrdine === "CONSEGNATO"){
                        &nbsp;<button mat-raised-button color="primary"  (click)="restituisciOrdine()" >Restituisci</button>
                    }
                }
            } @else if(dettagli.length > 0) {
                &nbsp;<button mat-raised-button color="primary"  (click)="eliminaOrdine()" >Elimina Ordine</button>
                &nbsp;<button mat-raised-button color="primary"  (click)="confermaOrdine()" [disabled]="indirizzoForm.invalid">Conferma Ordine</button>
            }
            &nbsp;
            <br />
            <br />
        </mat-card-footer>
    </mat-card>

