<div class="container">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header class="header-row">
            @if (mode == 'ORDINE'){
                <mat-card-title>Ordine numero {{ordine.id}} di {{ordine.utente.userName}}</mat-card-title>
            } @else {
                <mat-card-title>Carrello</mat-card-title>
            }

        </mat-card-header>
        <mat-divider style="margin-top: 20px;"></mat-divider>
        <mat-card-content>
            @if (mode == 'ORDINE'){
                <strong>Stato:</strong>
                <mat-form-field appearance="outline">
                    <mat-select 
                        placeholder="Stato" 
                        [value]="ordine.statoOrdine"
                        (selectionChange)="changeStatoOrdine(ordine.id, $event.value)">
                        @for (statoOrdine of loadedStatiOrdine; track statoOrdine) {
                            <mat-option [value]="statoOrdine">{{statoOrdine}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            }
            <table class="table table-stripped ">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Descrizione</th>
                            <th>Colore</th>
                            <th>Taglia</th>
                            <th>Prezzo</th>
                            <th>Disponibilità</th>
                            <th>Quantità</th>


                        </tr>
                    </thead>
                    <tbody>
                    @for (dettaglio of dettagli; track dettaglio.id) {
                        <tr>
                            <td>
                                <img [src]="dettaglio.prodotto.image"

                                style="max-width: 80px; cursor: pointer;"
                                alt="Bike preview"
                                >
                            </td>
                            <td>{{dettaglio.prodotto.descrizione}}</td>
                            <td>{{dettaglio.prodotto.colore}}</td>
                            <td>{{dettaglio.prodotto.taglia}}</td>
                            <td>{{dettaglio.prodotto.prezzo}}</td>
                            <td>{{dettaglio.prodotto.quantita}}</td>
                            <td><button (click)="togli(dettaglio)">-</button>
                                {{dettaglio.quantita}}
                                <button (click)="aggiungi(dettaglio)">+</button>
                                &nbsp;
                                <button (click)="rimuoviDalCarrello(dettaglio)"><span role="img" aria-label="delete">🗑️</span></button>
                            </td>
                        </tr>
                    }


                    </tbody>
                 </table>

        </mat-card-content>
        <mat-card-footer  class="header-row">
                    <hr>
                    <h3>Totale Ordine: {{ totale | currency:'EUR' }}</h3>
                    @if (mode == 'ORDINE'){
                        <button mat-raised-button color="primary"  (click)="eliminaOrdine()" >Elimina Ordine</button>
                    } @else {
                        <button mat-raised-button color="primary"  (click)="confermaOrdine()" >Conferma Ordine</button>
                    }
        </mat-card-footer>
    </mat-card>

